<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="assets/work-1.png" alt="">
                <div class="layer">
                    <h3>Social Media App</h3>
                    <p>the app connects you to talented people around the world</p>
                    <a href="https://www.upsc.gov.in"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="assets/work-2.png" alt="">
                <div class="layer">
                    <h3>music  App</h3>
                    <p>the app connects you to talented people around the world</p>
                    <a href="https://www.upsc.gov.in"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="assets/work-3.png" alt="">
                <div class="layer">
                    <h3>online shopping App</h3>
                    <p>the app connects you to talented people around the world</p>
                    <a href="https://www.upsc.gov.in"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="" class="btn">See More..</a>
    </div>
</div>