.navbar
{
  background-color: #010101;
  top: 0 !important;
  height:60px;
  z-index: 100;
  position: fixed;
  width: 100%;
 
}

.nav-link
{
    margin-right: 20px;
    color: white !important;
    font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  opacity: 0.75; 
  padding: 8px;
  text-decoration: none;
}
.nav-link:hover
{

    color:bisque !important;
    opacity: 1;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color:#ff004f;
    bottom: -2px; 
    width: 0; 
  }
  .nav-link:hover::before {
    width: 100%; 
  }
.mylogo
{
height:auto;
width: 200px; 
margin-left:1rem;
max-height: 100%;
  display: flex;
  align-items: center;
}












@media only screen and (max-width:600px)
{
  .navbar
  {
    background-color: #010101;
    top: 0 !important;
    height:60px;
    z-index: 100;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
   
  }
  .navbar-toggler {
    order: 1;
   ;
  }
  .navbar-toggler-icon {
    background-color: #ff004f;
  }
  .collapse.navbar-collapse {
    position: fixed;
    top: 60px;
    height: calc(100% - 60px);
    background-color:#ff004f;
    width: 50%;
    z-index: 99;
  }
}