<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Design</h2>
                <p>designing web application</p>
                <a href="">Learn More</a>
            </div>
            <div>
                <i class="fa-solid fa-crop-simple"></i>
                <h2>UI/UX Design</h2>
                <p>designing web application</p>
                <a href="">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store-ios"></i>
                <h2>App Design</h2>
                <p>designing web application</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </div>
</div>
